In [188]:
import pandas as pd 
import numpy as np 
import requests
import csv 
import re
from bs4 import BeautifulSoup

In [189]:
    url='https://www.99acres.com/property-in-ahmedabad-ffid'
    j=requests.get(url)
    k=j.text
    s=BeautifulSoup(k,'lxml')

In [190]:
def titel(s):
    titel=[]
    link=[]
    #the filter is being applied to filter the neccesary file from the site 
    titel=s.find_all('a',attrs={'class':"body_med srpTuple__propertyName"}) 
    for i in titel:
        k=i['href']
        #print(i['href'])
        link.append(k)
        #print(i.text)
    z=[]
    for i in titel:
       z.append(i.text)
    d={
    'link':link,
    'title':z
     }
    df=pd.DataFrame(d)
    return df

In [191]:
def loc(s):
    location=s.find_all('td',attrs={'class':"list_header_bold srpTuple__spacer10"}) 
    loc=[]
    for i in location:
        loc.append(i.text)
    return loc

In [192]:
def prices(s):
    prices=s.find_all('td',attrs={'id':"srp_tuple_price"}) 
    k=[]
    for i in prices:
        k.append(i.text)
    return k

In [193]:
def area(s):
    area=s.find_all('td',attrs={'id':"srp_tuple_primary_area"}) 
    lis_area=[]
    for i in area:
        lis_area.append(i.text)
    #print(lis_area)
    return lis_area

In [194]:
def lis__type(s):
    type=s.find_all('td',attrs={'id':"srp_tuple_bedroom"}) 
    lis__type=[]
    for i in type:
        lis__type.append(i.text)
        #print(i.text)
    return lis__type

In [195]:
def desc(s):
    desc=s.find_all('div',attrs={'id':"srp_tuple_description"}) 
    lis__desc=[]
    for i in desc:
        lis__desc.append(i.text)
        #print(i.text)
    return lis__desc

In [196]:
def dates(s):
    date_of=s.find_all('div',attrs={'class':"caption_strong_small"}) 
    date_li=[]
    for i in date_of:
        date_li.append(i.text)
        print(i.text)
    #print(date_li)
    #print(len(date_li))
    return date_li

In [197]:
def frame(s):
    df=titel(s)
    df['prices']=prices(s)#scrspping the data fro tth prices 
    df['location']=loc(s)#location in the card that is displayed
    df['type']=lis__type(s)
    df['area']=area(s)#area oh the house 
    #df['text']=desc(s)
    try:
        df['dates']=dates(s)#the on which the property was posted o the 99
    except:
        df['dates']='not give'
    df['link']='https://www.99acres.com'+df['link']
    return df

In [198]:

the_data=frame(s)
the_data

Posted on 04th Feb, 2021 by Builder
Posted on 13th Apr, 2021 by RERA Registered Dealer
Posted on 04th Jun, 2021 by Builder
Posted on 31st May, 2021 by Builder
Posted on 14th May, 2021 by Builder
Posted on 25th May, 2021 by Builder
Posted on 17th Mar, 2021 by Builder
Posted on 01st Mar, 2021 by Builder
Posted on 05th Jun, 2021 by Builder
Posted on 02nd Apr, 2021 by Builder
Posted on 23rd Mar, 2021 by Builder
Posted on 05th Jun, 2021 by Builder
Posted on 08th Feb, 2021 by Builder
Posted on 19th Apr, 2021 by Builder
Posted on 19th Apr, 2021 by Builder
Posted on 08th Apr, 2021 by Builder
Posted on 28th Apr, 2021 by Builder
Posted on 01st Apr, 2021 by Builder
Posted on 08th Feb, 2021 by Builder
Posted on 08th Apr, 2021 by Builder
Posted on 07th Apr, 2021 by Builder
Posted on 19th Apr, 2021 by Builder
Posted on 07th Apr, 2021 by Builder
Posted on 08th Feb, 2021 by Builder
Posted on 07th Apr, 2021 by Builder

,link,title,prices,location,type,area,dates
0,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Naranpura,₹ 1.11 Cr Onwards,Ekta Festival,3 BHK3 Baths,"1,209-1,218 sq.ft. (112-113 sq.m.) Carpet Area","Posted on 04th Feb, 2021 by Builder"
1,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Gota,"₹ 85 Lac₹ 4,088/sq.ft.",Aristo Crest,3 BHK3 Baths,"2,079 sq.ft. (193 sq.m.) Super built-up Area","Posted on 13th Apr, 2021 by RERA Registered De..."
2,https://www.99acres.com/2-bhk-bedroom-resident...,2 BHK Residential Apartment in Shela,₹ 54.5 Lac Onwards,Anand Elegance,2 BHK,"1,405-1,495 sq.ft. (131-139 sq.m.) Super built...","Posted on 04th Jun, 2021 by Builder"
3,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Zundal,₹ 50.76 - 52.49 Lac,Vivaan Elementos,3 BHK3 Baths,822-850 sq.ft. (76-79 sq.m.) Carpet Area,"Posted on 31st May, 2021 by Builder"
4,https://www.99acres.com/2-bhk-bedroom-resident...,2 BHK Residential Apartment in Godhavi,"₹ 27.35 - 29.35 Lac₹ 3,884/sq.ft.",Hari Om Elegance,2 BHK2 Baths,702-760 sq.ft. (65-71 sq.m.) Carpet Area,"Posted on 14th May, 2021 by Builder"
5,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Shela,₹ 54.5 Lac,Vishwanath Samam,3 BHK3 Baths,"1,500 sq.ft. (139 sq.m.) Super built-up Area","Posted on 25th May, 2021 by Builder"
6,https://www.99acres.com/4-bhk-bedroom-resident...,4 BHK Residential Apartment in Jagatpur,₹ 1.6 Cr,Avirat Silver Luxuria,4 BHK4 Baths,"4,150 sq.ft. (386 sq.m.) Super built-up Area","Posted on 17th Mar, 2021 by Builder"
7,https://www.99acres.com/4-bhk-bedroom-resident...,4 BHK Residential Apartment in Thaltej,"₹ 2.62 - 2.72 Cr₹ 7,559/sq.ft.",Sahajanand Casa Amplio,4 BHK4 Baths,"3,464-3,600 sq.ft. (322-334 sq.m.) Super built...","Posted on 01st Mar, 2021 by Builder"
8,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in South Bopal,Price on Request,Palladian Greens,3 BHK,"1,440-1,485 sq.ft. (134-138 sq.m.) Super built...","Posted on 05th Jun, 2021 by Builder"
9,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Shantipura,"₹ 42.51 Lac₹ 2,742/sq.ft.",Rang Reality Seattle Sky,3 BHK3 Baths,"1,550 sq.ft. (144 sq.m.) Super built-up Area","Posted on 02nd Apr, 2021 by Builder"
10,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Gota,"₹ 1.06 - 1.4 Cr₹ 5,608/sq.ft.",Skylon,3 BHK3 Baths,"1,890-2,502 sq.ft. (176-232 sq.m.) Super built...","Posted on 23rd Mar, 2021 by Builder"
11,https://www.99acres.com/2-bhk-bedroom-resident...,2 BHK Residential Apartment in South Bopal,Price on Request,Palladian Greens,2 BHK,"1,125-1,251 sq.ft. (105-116 sq.m.) Super built...","Posted on 05th Jun, 2021 by Builder"
12,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Kudasan,Price on Request,Arpan Radhe Infinity,3 BHK3 Baths,"1,350 sq.ft. (125 sq.m.) Built-up Area","Posted on 08th Feb, 2021 by Builder"
13,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Sindhu Bhavan Road,Price on Request,Captown Enhance,3 BHK,"1,651 sq.ft. (153 sq.m.) Super built-up Area","Posted on 19th Apr, 2021 by Builder"
14,https://www.99acres.com/residential-land-for-s...,Residential land / Plot in Sanand Nalsarovar Road,Price on Request,Suramya Abode,,"3,600-27,000 sq.ft. (334-2508 sq.m.) Plot Area","Posted on 19th Apr, 2021 by Builder"
15,https://www.99acres.com/4-bhk-bedroom-resident...,4 BHK Residential Apartment in Vastrapur,₹ 1.5 Cr,Sheetal Westpark Residency,4 BHK4 Baths,"2,415 sq.ft. (224 sq.m.) Super built-up Area","Posted on 08th Apr, 2021 by Builder"
16,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Shela,₹ 42.28 Lac,Shilp Revanta,3 BHK,"1,510 sq.ft. (140 sq.m.) Super built-up Area","Posted on 28th Apr, 2021 by Builder"
17,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Isanpur,Price on Request,Sheladia Empire Evok,3 BHK,"1,672 sq.ft. (155 sq.m.) Super built-up Area","Posted on 01st Apr, 2021 by Builder"
18,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Tragad,Price on Request,Himalaya Mainland Pinnacle II,3 BHK2 Baths,746-765 sq.ft. (69-71 sq.m.) Carpet Area,"Posted on 08th Feb, 2021 by Builder"
19,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Vastrapur,₹ 98.27 Lac Onwards,Sheetal Westpark Residency,3 BHK3 Baths,"1,585-2,020 sq.ft. (147-188 sq.m.) Super built...","Posted on 08th Apr, 2021 by Builder"
20,https://www.99acres.com/4-bhk-bedroom-resident...,4 BHK Residential Apartment in Naranpura,₹ 1.7 Cr,Satyam Skyline 2,4 BHK4 Baths,"2,705 sq.ft. (251 sq.m.) Super built-up Area","Posted on 07th Apr, 2021 by Builder"
21,https://www.99acres.com/4-bhk-bedroom-resident...,4 BHK Residential Apartment in Ambli,Price on Request,Synthesis Altius Vibe,4 BHK6 Baths,"3,046 sq.ft. (283 sq.m.) Carpet Area","Posted on 19th Apr, 2021 by Builder"
22,https://www.99acres.com/3-bhk-bedroom-resident...,3 BHK Residential Apartment in Naranpura,₹ 1.05 Cr Onwards,Satyam Skyline 2,3 BHK3 Baths,"1,672-1,912 sq.ft. (155-178 sq.m.) Super built...","Posted on 07th Apr, 2021 by Builder"
23,https://www.99acres.com/2-bhk-bedroom-resident...,2 BHK Residential Apartment in Tragad,Price on Request,Himalaya Mainland Pinnacle II,2 BHK2 Baths,602-645 sq.ft. (56-60 sq.m.) Carpet Area,"Posted on 08th Feb, 2021 by Builder"
24,https://www.99acres.com/2-bhk-bedroom-resident...,2 BHK Residential Apartment in Changodar,"₹ 22.57 Lac₹ 2,458/sq.ft.",Sarjan 2,2 BHK2 Baths,918 sq.ft. (85 sq.m.) Super built-up Area,"Posted on 07th Apr, 2021 by Builder"

NameError: name 'jshffjw' is not defined

In [199]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from time import sleep
the_data_pull=[]
browser = webdriver.Firefox(executable_path=r"C:\Users\swaraj\Desktop\codes\modules\geckodriver-v0.29.1-win64\geckodriver")
browser.get(url)
# element = browser.find_element_by_link_text('Newest First')
# k=element.click()
for i in range(2,11):
    
   
        i=str(i)
        print(i)
        try:
            
            element = browser.find_element_by_link_text(i)
            k=element.click()
            s=BeautifulSoup(browser.page_source,'lxml')
            browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")

            s=BeautifulSoup(browser.page_source,'lxml')
            THE_DA=frame(s)
            the_data_pull.append(THE_DA)
        except:
            browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")

            s=BeautifulSoup(browser.page_source,'lxml')
            THE_DA=frame(s)
            the_data_pull.append(THE_DA)
        # else :
        #         url='https://www.99acres.com/property-for-rent-in-pune-ffid-page-10'               
        #         i=str(i)
        #         print(i)
        #         url=url[:url.index('page')+5]
        #         url=url+i
        #         print(url)
        #         browser.get(url)
        #         s=BeautifulSoup(browser.page_source,'lxml')
        #         THE_DA=frame(s)
                
        #         print(THE_DA.shape)
        #         the_data_pull.append(THE_DA)


        sleep(2)
browser.quit()

2
Posted on 01st Mar, 2021 by Builder
Posted on 04th Feb, 2021 by Builder
Posted on 04th Jun, 2021 by Builder
Posted on 31st May, 2021 by Builder
Posted on 14th May, 2021 by Builder
Posted on 25th May, 2021 by Builder
Posted on 17th Mar, 2021 by Builder
Posted on 01st Mar, 2021 by Builder
Posted on 05th Jun, 2021 by Builder
Posted on 02nd Apr, 2021 by Builder
Posted on 23rd Mar, 2021 by Builder
Posted on 05th Jun, 2021 by Builder
Posted on 08th Feb, 2021 by Builder
Posted on 19th Apr, 2021 by Builder
Posted on 19th Apr, 2021 by Builder
Posted on 08th Apr, 2021 by Builder
Posted on 28th Apr, 2021 by Builder
Posted on 01st Apr, 2021 by Builder
Posted on 08th Feb, 2021 by Builder
Posted on 08th Apr, 2021 by Builder
Posted on 07th Apr, 2021 by Builder
Posted on 19th Apr, 2021 by Builder
Posted on 07th Apr, 2021 by Builder
Posted on 08th Feb, 2021 by Builder
Posted on 07th Apr, 2021 by Builder
Posted on 07th Apr, 2021 by Builder
3
4
5
6
7
8
9
10

In [200]:
the_data_pull.insert(0,the_data)
result = pd.concat(the_data_pull)

In [201]:
result.to_csv('hjjolkkjj99acers2.csv')
result.shape

In [202]:
# for u in result.prices:
#     print(u)

₹ 1.11 Cr Onwards
₹ 85 Lac₹ 4,088/sq.ft.
₹ 54.5 Lac Onwards
₹ 50.76  - 52.49 Lac
₹ 27.35  - 29.35 Lac₹ 3,884/sq.ft.
₹ 54.5 Lac
₹ 1.6 Cr
₹ 2.62  - 2.72 Cr₹ 7,559/sq.ft.
Price on Request
₹ 42.51 Lac₹ 2,742/sq.ft.
₹ 1.06  - 1.4 Cr₹ 5,608/sq.ft.
Price on Request
Price on Request
Price on Request
Price on Request
₹ 1.5 Cr
₹ 42.28 Lac
Price on Request
Price on Request
₹ 98.27 Lac Onwards
₹ 1.7 Cr
Price on Request
₹ 1.05 Cr Onwards
Price on Request
₹ 22.57 Lac₹ 2,458/sq.ft.
Price on Request
₹ 1.11 Cr Onwards
₹ 54.5 Lac Onwards
₹ 50.76  - 52.49 Lac
₹ 27.35  - 29.35 Lac₹ 3,884/sq.ft.
₹ 54.5 Lac
₹ 1.6 Cr
₹ 2.62  - 2.72 Cr₹ 7,559/sq.ft.
Price on Request
₹ 42.51 Lac₹ 2,742/sq.ft.
₹ 1.06  - 1.4 Cr₹ 5,608/sq.ft.
Price on Request
Price on Request
Price on Request
Price on Request
₹ 1.5 Cr
₹ 42.28 Lac
Price on Request
Price on Request
₹ 98.27 Lac Onwards
₹ 1.7 Cr
Price on Request
₹ 1.05 Cr Onwards
Price on Request
₹ 22.57 Lac₹ 2,458/sq.ft.
₹ 22.57 Lac₹ 2,458/sq.ft.

In [203]:

# result['prices'].apply(lambda x:type(x))

0     <class 'str'>
1     <class 'str'>
2     <class 'str'>
3     <class 'str'>
4     <class 'str'>
5     <class 'str'>
6     <class 'str'>
7     <class 'str'>
8     <class 'str'>
9     <class 'str'>
10    <class 'str'>
11    <class 'str'>
12    <class 'str'>
13    <class 'str'>
14    <class 'str'>
15    <class 'str'>
16    <class 'str'>
17    <class 'str'>
18    <class 'str'>
19    <class 'str'>
20    <class 'str'>
21    <class 'str'>
22    <class 'str'>
23    <class 'str'>
24    <class 'str'>
0     <class 'str'>
1     <class 'str'>
2     <class 'str'>
3     <class 'str'>
4     <class 'str'>
5     <class 'str'>
6     <class 'str'>
7     <class 'str'>
8     <class 'str'>
9     <class 'str'>
10    <class 'str'>
11    <class 'str'>
12    <class 'str'>
13    <class 'str'>
14    <class 'str'>
15    <class 'str'>
16    <class 'str'>
17    <class 'str'>
18    <class 'str'>
19    <class 'str'>
20    <class 'str'>
21    <class 'str'>
22    <class 'str'>
23    <class 'str'>
24    <class 'str'>
25    <class 'str'>
Name: prices, dtype: object

In [204]:
# result=result.dropna(subset=['prices'])
# k=result['prices'].apply(lambda x: re.sub('[^A-Za-z0-9.]+', ' ', x))

In [205]:
k

0                   1.11 Cr Onwards
1               85 Lac 4 088 sq.ft.
2                  54.5 Lac Onwards
3                   50.76 52.49 Lac
4      27.35 29.35 Lac 3 884 sq.ft.
5                          54.5 Lac
6                            1.6 Cr
7         2.62 2.72 Cr 7 559 sq.ft.
8                  Price on Request
9            42.51 Lac 2 742 sq.ft.
10         1.06 1.4 Cr 5 608 sq.ft.
11                 Price on Request
12                 Price on Request
13                 Price on Request
14                 Price on Request
15                           1.5 Cr
16                        42.28 Lac
17                 Price on Request
18                 Price on Request
19                98.27 Lac Onwards
20                           1.7 Cr
21                 Price on Request
22                  1.05 Cr Onwards
23                 Price on Request
24           22.57 Lac 2 458 sq.ft.
0                  Price on Request
1                   1.11 Cr Onwards
2                  54.5 Lac Onwards
3                   50.76 52.49 Lac
4      27.35 29.35 Lac 3 884 sq.ft.
5                          54.5 Lac
6                            1.6 Cr
7         2.62 2.72 Cr 7 559 sq.ft.
8                  Price on Request
9            42.51 Lac 2 742 sq.ft.
10         1.06 1.4 Cr 5 608 sq.ft.
11                 Price on Request
12                 Price on Request
13                 Price on Request
14                 Price on Request
15                           1.5 Cr
16                        42.28 Lac
17                 Price on Request
18                 Price on Request
19                98.27 Lac Onwards
20                           1.7 Cr
21                 Price on Request
22                  1.05 Cr Onwards
23                 Price on Request
24           22.57 Lac 2 458 sq.ft.
25           22.57 Lac 2 458 sq.ft.
Name: prices, dtype: object

In [206]:
# j=[]
# for x in k:
#     x=x.split()
#     if 'lacs' in x:
#         x=float(x[0])*100000
#         j.append(x)
#     elif 'Lac' in x:
#         x=float(x[0])*100000
#         j.append(x)
#     elif 'Cr' in x:
#         x=float(x[0])*10000000
#         j.append(x)
#     elif 'lac' in x:
#         x=float(x[0])*100000
#         j.append(x)

#     else:
#         if len(x)==1:
#             try:
#                 x=float(x[0])*100000
#                 j.append(x)
#             except:
#                 x=0
#                 j.append(x)
#         else:
#             x=0
#             j.append(x)
    

# j

[11100000.000000002,
 8500000.0,
 5450000.0,
 5076000.0,
 2735000.0,
 5450000.0,
 16000000.0,
 26200000.0,
 0,
 4251000.0,
 10600000.0,
 0,
 0,
 0,
 0,
 15000000.0,
 4228000.0,
 0,
 0,
 9827000.0,
 17000000.0,
 0,
 10500000.0,
 0,
 2257000.0,
 0,
 11100000.000000002,
 5450000.0,
 5076000.0,
 2735000.0,
 5450000.0,
 16000000.0,
 26200000.0,
 0,
 4251000.0,
 10600000.0,
 0,
 0,
 0,
 0,
 15000000.0,
 4228000.0,
 0,
 0,
 9827000.0,
 17000000.0,
 0,
 10500000.0,
 0,
 2257000.0,
 2257000.0]

In [207]:
# sum(j)/len(j)

5923627.450980392

In [209]:
# sum(kp)/len(kp)

9440781.25

In [208]:
# kp=[]
# for i in j:
#     if i != 0:
#         kp.append(i)