In [142]:
import requests 
import re
from bs4 import BeautifulSoup
import pandas as pd

In [254]:
number_of_pages=3

In [182]:

def details(s):
##for prices and BHK AND AREA
    price=s.find_all('span',attrs={'class':"val"}) 
    k=[]
    for p in price:
        k.append(p.text)

    l=[]
    for k in k:
        if k:
            l.append(k)

    k=[]
    for i in range(0,len(l),3):
        k.append(l[i:i+3])
    return k

In [184]:
  def tit_text(s):
    title=s.find_all('a',attrs={'class':"typelink"}) #titles 
    k=[]
    k1=[]
    for a in title:
        k.append( a['href'])
        k1.append(a.text)##links and name that appers
    return k,k1

In [185]:
def style(s):
    sta=s.find_all('td',attrs={'class':"val"}) 
    k=[]
    for si in sta:
        k.append(si.text)
    return k

In [201]:
def dep(s):
    detail=s.find_all('li',attrs={'title':"deposit"}) 
    k=[]
    for d in detail:
        k.append(d.text)
    return k

   BHK   PRICE   AREA           style    deposite
0   1    6,750   450      Unfurnished  No Deposit
1   1    6,000   580      Unfurnished  No Deposit
2   1   10,000   600      Unfurnished  No Deposit
3   2   19,000  1102      Unfurnished  No Deposit
4   1    5,000   350      Unfurnished  No Deposit
5   1    5,000   450      Unfurnished  No Deposit
6   1    9,000   500      Unfurnished  No Deposit
7   1    6,000   650      Unfurnished  No Deposit
8   2   14,000   852   Semi-Furnished  No Deposit
9   1    9,500   570      Unfurnished  No Deposit
10  2    9,000   750   Semi-Furnished  No Deposit
11  1    6,000   480   Semi-Furnished  No Deposit
12  1   10,000   720   Semi-Furnished  No Deposit
13  2   17,000  1100      Unfurnished  No Deposit
14  3   22,000  1605   Semi-Furnished  No Deposit
15  1   12,000   919        Furnished  No Deposit
16  1   10,000   640      Unfurnished  No Deposit
17  3   19,000  2000      Unfurnished  No Deposit
18  2   15,000  1500      Unfurnished  No Deposit
19  2   20,000   824   Semi-Furnished  No Deposit

In [236]:
def scrap(url):
    j=requests.get(url)
    k=j.text
    s=BeautifulSoup(k,'lxml')
    print()
    col=['BHK','PRICE','AREA']
    df=pd.DataFrame(details(s),columns=col)
    col=['text','links']
    k,k1=tit_text(s)
    try:
     df['link']=k
    except:
        df['link']='NA'
    try:
        df['text']=k1
    except:
        df['text']='NA'
    try:
        df['deposite']=dep(s)
    except:
        df['deposite']='NA'
    try:
        df['furnished']=style(s)
    except:
        df['furnished']='NA'
    
    return df

In [237]:
url="https://www.makaan.com/listings?listingType=rent&pageType=CITY_URLS&cityName=Pune&cityId=21&templateId=MAKAAN_CITY_LISTING_BUY"

In [242]:
dat=[]
df=scrap(url)
dat.append(df)

In [243]:
url=url+'&page='

In [250]:
for i in range(2,number_of_pages):
    url=url+str(i)
    df=scrap(url)
    dat.append(df)
result = pd.concat(dat)

In [251]:
result.reset_index(inplace = True, drop = True)

In [252]:
result.to_csv('scraped_data.csv')